.collection {
    margin-bottom: 40px;
}

.collection-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.collection-header img {
    margin-right: 10px;
}

.collection-header h2 {
    font-size: 24px;
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

tbody tr:hover {
    background-color: #f1f1f1;
}
